<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style.css">
        <link href="https://fonts.googleapis.com/css?family=Molle:400i|Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title></title>
    </head>
    <body class="truffles">
        <div class="shadow">
            <div class="home">
                <a href="/"><img src="../images/icons/house.png"></a>
                <a href="/users"><img src="../images/icons/user.png"></a>
                <a href="/users/new"><img src="../images/icons/user.png"></a><b>++</b>
                <a href="/cakes"><img src="../images/icons/cake.png"></a>
                <a href="/cakes/new"><img src="../images/icons/cake.png"></a><b>++</b>
                <!-- <a href="/pies"><img src="../images/icons/pie.png"></a> -->
                <!-- <a href="/pies/new"><img src="../images/icons/pie.png"></a><b>++</b> -->
            </div>
            <h1><%= cake.name %>'s page</h1>

            <hr>
            <section>
                <div class="display">
                    <div class="cakesShow">
                        <img src="<%= cake.img %>"/>
                    </div>
                    <div class="info">
                        <h2><%= cake.name %></h2><br>
                        <p><%= cake.description %></p><br>
                        <p>Origin: <%= cake.origin %></p><br>
                        Added by: <a href="/users/<%= user._id %>"><h4><%= user.name %></h4></a>
                    </div>
                </div>
            </section>

            <section class="base">

                <hr>

                <h3>Edit or delete this baked item</h3>
                <button>
                    <a href="/cakes/<%= cake._id %>/edit">Edit <%= cake.name %></a>
                </button>
                <form action="/cakes/<%= cake._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete <%= cake.name %> from the gallery"/>
                </form><br>

                <span class="fit">
                    <h4>More on this @:
                        <a href="<%= cake.cite._id %>">
                            <%= cake.cite %>
                        </a>
                    </h4>
                </span>
            </section>

            <footer></footer>
        </div>
    </body>
</html>
