<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style.css">
        <link href="https://fonts.googleapis.com/css?family=Molle:400i|Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title></title>
    </head>
    <body class="brownie">
        <div class="shadow">
            <div class="home">
                <a href="/"><img src="../images/icons/house.png"></a>
                <a href="/users"><img src="../images/icons/user.png"></a>
                <a href="/users/new"><img src="../images/icons/user.png"></a><b>++</b>
                <a href="/cakes"><img src="../images/icons/cake.png"></a>
                <a href="/cakes/new"><img src="../images/icons/cake.png"></a><b>++</b>
                <!-- <a href="/pies"><img src="../images/icons/pie.png"></a> -->
                <!-- <a href="/pies/new"><img src="../images/icons/pie.png"></a><b>++</b> -->
            </div>

            <h1><%= user.name %>'s page</h1>
            <hr>
            <h3>Baked goods in your gallery</h3>

            <% for(var i = 0; i < user.cakes.length; i++){ %>
                <div class="usersShow">
                <a href="/cakes/<%= user.cakes[i]._id %>">
                    <%= user.cakes[i].name %><br>
                    <img src="<%= user.cakes[i].img %>"/>
                </a>
                </div>
            <% } %>

            <!-- <div class="usersShow">
                <%# for(var i = 0; i < user.pies.length; i++){ %>
                    <a href="/pies/<%# user.pies[i]._id %>">
                        <%# user.pies[i].name %><br>
                        <img src="<%# user.pies[i].img %>"/>
                    </a>
                <%# } %>
            </div> -->

            <hr>

            <button><a href="/users/<%=user._id%>/edit">Edit <%= user.name %>'s Account</a></button>
            <form class="" action="/users/<%= user._id %>?_method=DELETE" method="POST">
                <input type="submit" name="" value="Delete <%= user.name %>'s Account"/>
            </form>

            <footer></footer>
        </div>
    </body>
</html>
